// Define variables for your color scheme

// For example:
$red: #FF565D; //from coolers//
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #FFB4A2; //from coolers//
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$beige: #FFCDB2;
$purple: #B5838D;
$slightly-light-gray: #6D6875;
$pink: #E5989B
