// Specific CSS for your home-page
body, html {
  background: #F4EBE6;
}

.fullscreen-image {
  position: fixed;
  object-fit: fill;
  z-index: -1;
    }

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.fullscreen {
    // background: url(homepage.jpg) no-repeat center center fixed;
    background: #F4EBE6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.content {
  background: transparent;
  background-color: transparent;
  height: 20vh;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media (max-height: 668px) {
  .content {
    height: 29.4vh;
  }
}
