// Specific CSS for your home-page
.fullscreen-image {
  position: fixed;
  object-fit: fill;
  z-index: -1;
    }
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}



.fullscreen {
    // background: url(homepage.jpg) no-repeat center center fixed;
    background: rgb(229,152,155);
    background: linear-gradient(0deg, rgba(229,152,155,1) 32%, rgba(255,180,162,1) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.content {
  background: transparent;
  height: 100vh;
}
