@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-image {
  display: flex;
  justify-content: center;
  width: 80%;

  img {
    width: 100%;
    border: 0.25rem solid white;
    border-radius: 1rem 1rem 0 0;
  }

}

.user-bio {
  background: rgb(54, 53, 66);
  padding: 1rem 2rem;
  border-radius: 0 0 1rem 1rem;
  width: 80%;
  height: 100%;
  color: rgba(250,250,250,1);
  box-shadow: 0 0.25rem 0.5rem rgba(10,10,10,0.4);

  h3 {
    font-family: 'Bellota Text', cursive;
    font-weight: bold;
    background: linear-gradient(transparent 30%, #e5989b98 10%, #e5989b98 90%, transparent 90%);
  }
}

.user-spaces {
  h2 {
    font-family: 'Bellota Text', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(transparent 30%, #e5989b98 10%, #e5989b98 90%, transparent 90%);
    color: #fafafa;
  }
}

@media (min-width: 768px) {
  .user-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .user-image {
    img {
      border-radius: 1rem;
      width: 80%;
    }
  }
  
  .user-bio {
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(10,10,10,0.2);
    width: 80%;
  }
}
