<div class="container" style="height:100vh; background-size: contain; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('background.jpg')%>)">
  <div class="display-4 text-white">
    <p>We are glad you are safe</p>
  </div>
</div>
