<div class="container" style="height:100vh; max-width: 100vw; background-size: cover; background-position: 70%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('background.jpg')%>)">
  <div class="display-4 text-white text-center">
    <p>We are glad you are safe</p>
    <small>Would you like to contact <%= @user.emergency_name%>?</small>
    <p>
      <div class="button-emergency-call">
        <%= link_to '#' do %>
          <i class="fas fa-phone-alt"></i>
        <% end %>
      </div>
      <div class="button-emergency-message">
        <%= link_to "#", data: {
      action: "click->show-on-click#toggle"
    } do %>
          <i class="far fa-comment"></i>
        <% end %>
      </div>
    </p>
  </div>
