<div
  id="map"
  style="width: 100%;
  height: calc(100vh - 66px);"
  data-markers="<%= @markers.to_json %>"
></div>
<%# <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %> %>
<%= javascript_pack_tag "map" %>
