<div class="container form-login">
  <div class="row justify-content-center">
    <div class="col-12">
    <div>
      <h1 class="mb-3 text-center">New Space</h1>
      <%= render 'form', space: @space %>
      <%= link_to 'Back ', spaces_path %>
    </div>
  </div>
</div>
