<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1>List your space</h1>
      <%= render 'form', role: @space %>
      <%= link_to 'Back ', spaces_path %>
    </div>
  </div>
</div>
