<div class="text-center">
  <h1>Notifications</h1>
  <% @notifications.each do |notification| %>
    <% if notification.unread? %>
      <p><%= link_to notification.to_notification.message, notification_path(notification) %></p>
    <% else %>
      <p><%= notification.to_notification.message %></p>
    <% end %>
  <% end %>
</div>
