
  <h1>Notifications</h1>

  <% @notifications.each do |notification| %>
  <p><%= notification.recipient.email %></p>
  <p><%= link_to notification.to_notification.message, notification.to_notification.url%></p>
  <% end %>
