<div class="container flex-column">
  <div class="hero-text mb-5 text-center" style="max-width: 18rem">
    <h1 style="font-size: 3rem">Notifications</h1>
  </div>
  <% @notifications.each do |notification| %>
    <div class="notification-box mb-3">
      <% if notification.incident.present? %>
        <%= link_to image_tag(notification.incident.user.photo, alt: "profile photo"), user_path(notification.incident.user) %>
      <% else %>
        <%= link_to image_tag(notification.params[:space].user.photo, alt: "profile photo"), user_path(notification.params[:space].user.photo) %>
      <% end %>
      <div class="notification-content">
        <% if notification.unread? %>
          <p><%= link_to notification.to_notification.message, notification_path(notification), style: "font-weight: bold" %></p>
        <% else %>
          <p><%= link_to notification.to_notification.message, notification_path(notification), style: "opacity: 60%" %></p>
        <% end %>
      </div>
  </div>
    <% end %>
</div>
