.button-circle{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: white;
  background-color: #E5989B;
  text-shadow: 1px 1px 3px rgba(19, 4, 4, 0.2);
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  }


.circle {
  position: absolute;
  top: -3px;
  right: -5px;
  background: transparent;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#counter {
  background-color: $red;border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.home-btn {
  color: white;
  background-color: #452B33;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  height: 2.375rem;
  box-shadow: 0 0.2rem 0.2rem rgba(10,10,10,0.3);

  p {
    padding: 0.5rem;
    margin: 0;
    color: white;
  }
}

.help-btn {
  border-radius: 1rem;
  // margin-bottom: 0.5rem;
}

.cta-btn {
  padding: 1rem 1.5rem;
  border: 1px solid white;
  margin: 0 1rem;
  border-radius: 0.5rem;

  &:hover {
    transform: scale(1.1);
    text-decoration: none;
  }
}

.signup-btn {
  color: #1A2637;
  background-color: white;
  font-weight: bold;

  &:hover {
    color: #1A2637;
  }
}

@media (min-height: 668px) {
  .help-btn {
    margin-top: 1rem;
  }
}

.button-close {
  background-color: transparent;
  position: fixed;
  top: 0.625rem;
  right: 0.625rem;
  width: 1.875rem;
  height: 1.875rem;
  border: transparent;
  color: white;
}

.button-emergency-call {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #452B33;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  i {
    color: white;
    font-size: 1.3rem;

  }
  p {
   font-size: 1.3rem;
   margin: 0;
  }
}

.button-emergency-call {
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #00d7c3;
}
.button-emergency-call:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

.button-emergency-message {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #E5989B;
  text-shadow: 1px 1px 3px rgba(19, 4, 4, 0.2);
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;


   a {
    color: white;
    font-size: 2rem;
  }
}

.button-emergency-message {
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #00d7c3;
}
.button-emergency-message:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

.btn-warning {
  color: #212529;
  background-color: #E5989B;
  border-color: transparent;
  color: white;
  font-weight: bold;
}
