.card-trip {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 40%;
  right: 45%;

  width: 300px;
  height: 100px;

  img {
    position:absolute;
    left: 40%;
  }
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
