.form-login {
  border: 1px solid rgba(10,10,10,0.1);
  padding: 2rem;
  border-radius: 1rem;
  background: white;
  max-width: 25rem;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
  }
}
