.map-container {
  position: relative;
  z-index: 1;
}

.help-button {
  z-index: 1000;
  position: absolute;
  left: 70%;
  bottom: 5%;
  height: 5rem;
  width: 5rem;
  box-shadow: 0 4px 8px rgba(10,10,10,0.3);
  border-radius: 50%;
}
