.mapbox-directions-instructions {
  display: none;
}

.directions-control.directions-control-inputs {
  display: none;
}

.directions-control.directions-control {
  position: relative;
  top: -0.5rem;
}
