.new-message-modal {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    width: 70%;
    padding: 2rem;
    border-radius: 1rem;
    height: 400px;
  }

#messages {
  overflow-y: scroll;
  height: 100%;

}
