.new-message-modal {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  width: fit-content;
  padding: 2rem;
  border-radius: 1rem;
  height: 27rem;
  box-shadow: 0 0.5rem 0.5rem rgba(10,10,10,0.2);
}

#messages {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
  border: 1px solid rgba(10,10,10,0.2);
  border-bottom: transparent;
  padding-top: 0.5rem;
}
