.notification-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(10, 10, 10, 0.3);
  box-shadow: 0 0.25rem 0.25rem rgba(10,10,10,0.3);
  padding: 1rem;
  min-width: 18rem;
  background: rgba(10,10,10,0.3);
  align-items: center;
  border-radius: 1rem;
  justify-content: center;

  img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
}

.notification-content {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  max-width: 60%;

  a {
    color: white;
    text-decoration: none;
  }

  p {
    color: rgba(250,250,250,0.67);
    position: relative;
    transform: translateY(15%);
  }
}
